@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-slate-950 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
